h1{
    text-align: center;
}
.헤더,.푸터{
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding: 20px;
    text-align: center;
}
.네비게이션{
    background-color: aliceblue;
    padding: 10px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
a{
    text-decoration: none; /*밑줄제거*/
    color:rgb(72, 72, 248);/*글자 색 변경*/
    font-weight:bold; /*글자 두께 변경*/
}
body{
    background-color: #f9f9f9;
}
.특징들 {
    text-align: center;
}
.특징{
    text-align: center;
    display: inline-block;/*하나의 블록으로 만들어주기 (가로로 처리)*/
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px ; /*공간설정*/
    box-shadow: 0 0 10px #55535380;
}
.주문하기{
    color:rgb(7, 7, 7);/*글자 색 변경*/
}

/*  ***** 메뉴.html에 작성한 styleSheet ***** */
.메인{
    width: 70%;
    margin: 20px auto;
}
.메뉴{
    background-color: white;
    /*display: inline-flex;*/
    padding: 20px;
    border-radius: 10px;
}
.아이템{
    text-align: center;
}
/*div 클래스 아이템 안에있는 img만 크기 조정*/
.아이템 img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/*  ***** 주문하기.html에 작성한 styleSheet ***** */
.메인-주문하기{
    text-align: center;
    width: 70%;
    background-color: white;
    padding: 20px;
    margin: 20px auto; /*auto 경우 가운데 정렬과 같은 나열을 사용할 때 쓰임*/
    border-radius: 10px;
    box-shadow: 0 0 10px #55535380;
}
.메뉴사진{
    margin: 20px;
    width: 200px;
    height: 200px;
}
.옵션사진{
    width: 100px;
    height: 100px;
}
.메인꾸미기{
    display: inline-flex;
    text-align: center;
    margin: 20px auto;
}






