body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}
.헤더{
    background-color: #00B4D8;
    padding: 10px;
    color: white;
    text-align: center;
}
.네비게이션{
    background-color:#90E0EF;
    /*margin-top: 0px; 위 여백 간격 조정*/
    padding: 5px;
    text-align: center;
}
.네비게이션 ul{
    list-style-type: none; /*동그라미 사라짐*/
}
.네비게이션 ul li {
    display: inline;
    margin-right: 20px;
}
.네비게이션 ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.네비게이션 a:hover {
    background-color: #0077B6;
}
.메인{
    padding: 20px;
    display: flex;
}
.제품사진{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px; /*태그 아래로 공백이 필요할 때 작성*/
    margin-right: 20px;/*태그 오른쪽으로 공백이 필요할 때 작성*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px gray;
}
.블록{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px; /*태그 아래로 공백이 필요할 때 작성*/
    margin-right: 20px;/*태그 오른쪽으로 공백이 필요할 때 작성*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px gray;
}
.제품사진 img{
  width: 100%;
  height: 50%;
}
/*마우스 버튼 위에 올리기 전 모습*/
.제품사진 button{
    background-color: #4bcefac4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    /*버튼 위에 마우스를 올렸을 때 마우스 아이콘 변경*/
    cursor: pointer;
}
/*마우스를 버튼 위에 올린 후 모습*/
.제품사진 button:hover {
    background-color: #0077B6;
    color: white;
}
.푸터{
    background-color: #00B4D8;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}

/* --------회사 소개 style---------*/
.네비게이션 a{
    text-decoration: none;
    color: white;
}
/*main*/
main{
    width: 80%;
    margin: 20px auto;
}
.소개클래스{
    /*한 section이 끝날때마다 엔터(줄바꿈) 처리*/
    /*display: block;*/
    display: flex;
    /*한 section이 끝날때마다 밑으로 간격을 20px 준 것*/
    margin-bottom: 20px;
}
.소개클래스 .블록{
    border: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}
.소개클래스 .블록 img {
    width: 200px;
    height: 200px;
}
.블록 h2{
    text-align: center;
}
/*팀원 소개 섹션*/
.팀클래스{
    /*가로 중앙 정렬을 위한 스타일 추가*/
    text-align: center;
    margin-bottom: 500px;
}
.팀클래스 .멤버{
    /*가로로 정렬*/
    display: inline-block;
    /*
    display 에서 inline만 사용할 경우 가로 길이 설정 X
    display에서 inline-block을 사용할 경우 가로길이 설정 O
    */
    width: 20%;
    padding: 15px;
    background-color:aliceblue;
    border: 2px solid #f2f2f2;
}

/* 팀클래스 기준으로 
h2 또한 자식이기 때문에 h2가 탬소개 1번째가 됨 */
.팀클래스 .멤버:nth-child(2){
    background-color: rgb(179, 172, 226);
}
.팀클래스 .멤버:nth-child(3){
    background-color: lightpink;
}
.팀클래스 .멤버:nth-child(4){
    background-color: lightblue;
}
.팀클래스 .멤버:nth-child(5){
    background-color: lightgray;
}

/*:hover 어디든 맨 뒤에 붙이면 마우스가 태그안에 도착한 다음 나올 스타일
    모든 숫자에 동일한 디자인을 적용하길 원한다면 n을 작성해준다.
    아니면 ,를 써서 모든 숫자를 써준다
    .팀클래스 .멤버:nth-child(2):hover,
    .팀클래스 .멤버:nth-child(3):hover
*/
.팀클래스 .멤버:nth-child(n):hover{
    background-color: darkorchid;
    color: white;
    font-weight: bold;
    text-shadow: 3px 4px 5px white;
    /*box-shadow: 0 0 15px white; 여기서는 태두리가 없기 때문에 사용 불가*/
}


/*팀클래스 밑에 잇는 멤버, 멤버 밑에 있는 img*/
.팀클래스 .멤버 img{
    width: 100px;
    border-radius: 50%;
}
.픽스{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom:30px;
    right: 30px;
    background-color: gold;
}
.픽스 a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: black;
    text-decoration: none;
    line-height: 35px;
    user-select: none;
}